<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verifique Seu Email</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
      body {
        font-family: 'Inter', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f3f4f6;
      }
      .container {
        max-width: 600px;
        margin: 20px auto;
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }
      .header {
        background-color: #1E293B;
        padding: 20px;
        text-align: center;
        color: #ffffff;
        font-size: 24px;
        font-weight: 600;
      }
      .content {
        padding: 20px;
        font-size: 16px;
        color: #374151;
        line-height: 1.6;
      }
      .button {
        display: block;
        width: 100%;
        max-width: 200px;
        margin: 20px auto;
        text-align: center;
        background: #1E293B;
        color: #ffffff;
        padding: 12px;
        border-radius: 8px;
        font-weight: 600;
        text-decoration: none;
        transition: background-color 0.3s;
      }
      .button:hover {
        background-color: #475569;
        color: #fff;
      }
      .footer {
        text-align: center;
        padding: 10px;
        font-size: 14px;
        color: #6b7280;
        background: #f9fafb;
      }
      .verification-code {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        margin: 20px 0;
        color: #1E293B;
      }
      .copy-code-button {
        display: block;
        width: 100%;
        max-width: 200px;
        margin: 20px auto;
        text-align: center;
        background: #1E293B;
        color: #ffffff;
        padding: 12px;
        border-radius: 8px;
        font-weight: 600;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      .copy-code-button:hover {
        background-color: #475569;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        Verifique Seu Email
      </div>

      <div class="content">
        <p>Olá, <strong><%= name %></strong></p>
        <p>
          Obrigado por se cadastrar! Para completar seu registro, verifique seu endereço de email inserindo o código de verificação abaixo:
        </p>

        <div class="verification-code" id="verificationCode">
          <%= verificationCode %>
        </div>

        <button class="copy-code-button" onclick="copyVerificationCode()">Copiar Código</button>

        <p><span style="color: red;">*</span><strong>Este código é válido por 5 minutos</strong></p>
        <p>
          Se você não solicitou este código de verificação, por favor, ignore este email.
        </p>
        <p>Atenciosamente, <br />Eduardofp</p>
      </div>

      <div class="footer">
        © <%= year %> Eduardofp Blog. Todos os direitos reservados.
      </div>
    </div>

    <script>
      function copyVerificationCode() {
        const codeElement = document.getElementById('verificationCode');
        const code = codeElement.innerText;

        navigator.clipboard.writeText(code).then(() => {
          alert('Código de verificação copiado para a área de transferência!');
        }).catch(() => {
          alert('Falha ao copiar o código. Por favor, copie manualmente.');
        });
      }
    </script>
  </body>
</html>